import random  # This will shuffle the list of words.

answerList = ['world', 'hello', 'this', 'is', 'me']

random.shuffle(answerList)  # This will shuffle the list randomly.

answer = list(answerList[0])
# This selects the 1st word from the shuffled list and converts it into list of characters;This what you need to guess.
display = []  # will be used to show the progress of the player's guesses.
display.extend(answer)   # each letter is initially hidden with an underscore.

for i in range(len(display)):  # This loop iterates over the indices of the display list.
    display[i] = "_"  # Inside the loop, each element of the display list is replaced with an underscore.

print(' '. join(display)) # This prints out the initial display of underscores, representing the word to be guessed.
print()

count = 0  # This initializes a counter variable to keep track of the number of correctly guessed letters.
while count < len(answer):  # This loop continues until the player correctly guesses all the letters in the word.
    guess = input("Please guess a letter: ")  # Input the guess.
    guess = guess.lower()  # This converts the guessed letter to lowercase to ensure case-insensitive matching.
    print(count)

    for i in range(len(answer)):
        if answer [i] == guess:
            display[i] = guess
            count = count + 1

    print(' '.join(display))
    print()

print("Well done, you guessed the word")
